@charset "UTF-8";

body {
    
    background-image: linear-gradient(45deg, #7F0DFF, #f34ded, #FF0072, #FF6400, #FF006E);   
    background-attachment: fixed;
    font: normal 15pt Arial;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #FF6400;
    margin: auto;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}